@mixin span($column, $columns) {
    width: percentage($column/$columns);
    float: left;
}

@mixin span-push($column, $columns) {
    margin-left: percentage($column/$columns);
}

@mixin span-pull($column, $columns) {
    margin-right: percentage($column/$columns);
}

%span-padding {
    position: relative;
    min-height: 1px;
    padding-right: rem($grid-column-padding);
    padding-left: rem($grid-column-padding);
}

.container {
    padding-right: rem($grid-gutter-width);
    padding-left: rem($grid-gutter-width);
    margin-right: auto;
    margin-left: auto;
    @include clearfix();

    @include mq-small {
        max-width: rem($layout-width-small);
    }

    @include mq-medium {
        max-width: rem($layout-width-medium);
    }

    @include mq-large {
        max-width: rem($layout-width-large);
    }
}

.row {
    margin-right: rem(-$grid-gutter-width);
    margin-left: rem(-$grid-gutter-width);
    @include clearfix();
}


@for $i from 1 through $grid-columns {

    .col-sm-#{$i} {
        @extend %span-padding;
        @include mq-small {
            @include span($i, $grid-columns);
        }
    }

    .col-sm-offset-#{$i} {
        @include mq-small {
            @include span-push($i, $grid-columns);
        }
    }

    .col-md-#{$i} {
        @extend %span-padding;
        @include mq-medium {
            @include span($i, $grid-columns);
        }
    }

    .col-md-offset-#{$i} {
        @include mq-medium {
            @include span-push($i, $grid-columns);
        }
    }

    .col-lg-#{$i} {
        @extend %span-padding;
        @include mq-large {
            @include span($i, $grid-columns);
        }
    }

    .col-lg-offset-#{$i} {
        @include mq-large {
            @include span-push($i, $grid-columns);
        }
    }
}