
.grid-inner {
    background-color: #CACACA;
    border: 1px solid black;
    margin: 10px 0;
    padding: 10px 0;
    background: #fafafa;
    color: #666;
    border: 1px solid #e5e5e5;
}

.row > div:last-child .grid-inner {
    margin-bottom: 0;
}