h1, .h1 {
    font-size: rem($h1-font-size);
}

h2, .h2 {
    font-size: rem($h2-font-size);
}

h3, .h3 {
    font-size: rem($h3-font-size);
}

h4, .h4 {
    font-size: rem($h4-font-size);
}

h5, .h5 {
    font-size: rem($h5-font-size);
}

h6, .h6 {
    font-size: rem($h6-font-size);
}

p {
    font-size: rem($base-font-size);
    line-height: rem(28px);
    margin-bottom: rem(12px);
}

a {
    color: $base-link-color;
    text-decoration: none;
    outline: 0;
    line-height: inherit;

    &:hover {
        color: $base-link-hover-color;
    }
}

// Alignment
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

// Transformation
.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.bold     { 
    font-weight: bold;
}

.regular  {
    font-weight: normal;
}

.italic   {
    font-style: italic;
}