@mixin screen($min-width, $max-width) {
    @media screen and (min-width: $min-width) and (max-width: $max-width) {
        @content;
    }
}

@mixin max-screen($res) {
    @media screen and (max-width: $res) {
        @content;
    }
}

@mixin min-screen($res) {
    @media screen and (min-width: $res) {
        @content;
    }
}

@mixin hdpi($ratio: 1.3) {
    @media only screen and (-webkit-min-device-pixel-ratio: $ratio),
    only screen and (min--moz-device-pixel-ratio: $ratio),
    only screen and (-o-min-device-pixel-ratio: #{$ratio}/1),
    only screen and (min-resolution: #{round($ratio*96)}dpi),
    only screen and (min-resolution: #{$ratio}dppx) {
        @content;
    }
}

// Small devices (tablets, 768px and up)
@mixin mq-small {
    @media (min-width: rem($screen-small-min)) {
        @content;
    }
}

// Medium devices (desktops, 992px and up)
@mixin mq-medium {
    @media (min-width: rem($screen-medium-min)) {
        @content;
    }
}

// Large devices (large desktops, 1200px and up)
@mixin mq-large {
    @media (min-width: rem($screen-large-min)) {
        @content;
    }
}
