// Colors
$color-turquoise      : #1abc9c;
$color-emerald        : #2ecc71;
$color-peter-river    : #3498db;
$color-amethyst       : #9b59b6;
$color-wet-asphalt    : #34495e;
$color-green-sea      : #16a085;
$color-nephritis      : #27ae60;
$color-belize-hole    : #2980b9;
$color-wisteria       : #8e44ad;
$color-midnight-blue  : #2c3e50;
$color-sun-flower     : #f1c40f;
$color-carrot         : #e67e22;
$color-alizarin       : #e74c3c;
$color-clouds         : #ecf0f1;
$color-concrete       : #95a5a6;
$color-orange         : #f39c12;
$color-pumpkin        : #d35400;
$color-pomegranite    : #c0392b;
$color-silver         : #bdc3c7;
$color-asbestos       : #7f8c8d;
$color-white          : #ffffff;
$color-black          : #000000;

// Base Fonts
$base-font-size: 16px;
$base-font-family: "Open Sans", sans-serif;
$base-font-weight: normal;
$base-font-color: $color-black;

// Heading font sizes
$h1-font-size: $base-font-size * 2.250; // 36px
$h2-font-size: $base-font-size * 1.875; // 30px
$h3-font-size: $base-font-size * 1.500; // 24px
$h4-font-size: $base-font-size * 1.125; // 18px
$h5-font-size: $base-font-size;         // 16px
$h6-font-size: $base-font-size * 0.750; // 12px

// Base Colors
$base-link-color: $color-peter-river;
$base-link-hover-color: $color-belize-hole;
$base-bg-color: $color-white;

// Layouts
$layout-width-small: 750px;
$layout-width-medium: 970px;
$layout-width-large: 1170px;

// Breakpoints:
$screen-small-min: 768px;
$screen-medium-min: 992px;
$screen-large-min: 1200px;

// Common padding and border radius
$base-padding-vertical: 6px;
$base-padding-horizontal: 12px;
$base-border-radius: 5px;
$base-margin-bottom: 16px;

// Grid
$grid-columns: 12;
$grid-gutter-width: 15px;
$grid-column-padding: 15px;

// Buttons
$button-font-size-small: $base-font-size * 0.75;
$button-font-size-default: $base-font-size;
$button-font-size-large: $base-font-size * 1.25;
$button-margin-bottom: 16px;
$button-primary: $color-peter-river;
$button-success: $color-emerald;
$button-alert: $color-alizarin;
$button-dark: $color-midnight-blue;

// Forms
$form-input-width: 100%;
$form-input-height: 34px;
$form-input-font-size: $base-font-size;
$form-input-line-height: $form-input-font-size * 1.25;
$form-input-color: $color-black;
$form-input-bg: $color-white;
$form-input-border: 1px solid $color-silver;
$form-error-color: $color-alizarin;
