@mixin button-base {
    width: auto;
    display: inline-block;
    padding: rem($base-padding-vertical) rem($base-padding-horizontal);
    margin-bottom: rem($base-margin-bottom);
    border-width: rem(1px);
    border-style: solid;
    font-size: rem($button-font-size-default);
    text-align: center;
    color: $color-white;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
}

@mixin button-style($color) {
    background: $color;
    border-color: $color;

    &:hover {
        background: scale-lightness($color, 20%);
    }
}

@mixin button-disabled {
    opacity: 0.25;
    cursor: not-allowed;
    pointer-events: none;
}

button,
.btn {
    @include button-base;
    @include button-style($button-primary);

    &.primary {
        @include button-style($button-primary);
    }

    &.success {
        @include button-style($button-success);
    }

    &.alert {
        @include button-style($button-alert);
    }

    &.dark {
        @include button-style($button-dark);
    }

    &.disabled {
        @include button-disabled;
    }

    &.small {
        font-size: rem($button-font-size-small);
    }

    &.large {
        font-size: rem($button-font-size-large);
    }

    &.rounded {
        border-radius: rem($base-border-radius);
    }
}
