.form-basic {
    @include clearfix;
}

label {
    height: rem($form-input-height);
    line-height: rem($form-input-height);
    display: inline-block;
    font-weight: bold;
}

input[type="file"] {
    display: block;
    clear: both;
}

.form-input {
    width: $form-input-width;
    height: rem($form-input-height);
    font-size: rem($form-input-font-size);
    line-height: rem($form-input-line-height);
    padding: rem($base-padding-vertical) rem($base-padding-horizontal);
    border: $form-input-border;
    color: $form-input-color;
}

.form-checkbox,
.form-radio {
    margin: 0 rem(5px) 0 0;
    width: rem($base-font-size);
    height: rem($base-font-size);
}

textarea.form-input {
    height: auto;
}

.form-item {
    margin-bottom: rem($base-margin-bottom);
    @include clearfix;

    &.error {
        label {
            color: $form-error-color;
        }

        .form-input {
            border-color: $form-error-color;
        }
    }

    .error-message {
        float: left;
        margin-top: rem(8px);
        color: $form-error-color;
    }
}